@{
    ViewBag.Title = "login_Layout";
}


<html>
<head><title>BeriCap</title>
    
     <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>

</head>
<body >
    <div>@RenderBody()</div>
 
</body>

</html>
@*e4eaed*@

<style>
    body {
    background-image: url(Content/Transporter_1.png);
     background-repeat:no-repeat;  
    }
</style>

